html {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    list-style: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

body {
    /* font-family: 'Play', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    color: #fff;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header-bg.png);
    height: 750px;
}

.header-top {
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 44px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.menu-item:not(:first-child) {
    padding-left: 50px;
}

.header-top__call {
    position: relative;
    display: grid;
}

.header-top__call::before {
    position: absolute;
    content: '';
    background-image: url(../img/icons/tel.svg);
    width: 15px;
    height: 13px;
    left: -27px;
    top: 3px;
}

.header-bottom {
    text-align: center;
}

.header-title {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin-top: 121px;
}

.header-description {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
}

.more-work__btn,
.header-btn,
.services__btn {
    background-color: #1B6EB8;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Play', sans-serif;
    padding: 17px 30px;
    color: #fff;
    margin-top: 55px;
    text-transform: uppercase;
}

.header-bottom__items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.bottom__item-left,
.bottom__item-center,
.bottom__item-right {
    position: relative;
}

.bottom__item-left::before {
    position: absolute;
    top: -10px;
    left: -55px;
    content: '';
    background-image: url(../img/icons/production.svg);
    width: 38px;
    height: 42px;
}

.bottom__item-center::before {
    position: absolute;
    top: -10px;
    left: -55px;
    content: '';
    background-image: url(../img/icons/designer.svg);
    width: 45px;
    height: 45px;
}

.bottom__item-right::before {
    position: absolute;
    top: -10px;
    left: -55px;
    content: '';
    background-image: url(../img/icons/rigger.svg);
    width: 39px;
    height: 40px;
}

.about {
    padding: 153px 0 137px;
}

.about__inner-top {
    color: #000;
    display: flex;
    justify-content: space-around;
}

.warranty__title,
.stages__title,
.about__title,
.services__title,
.portfolio__title {
    color: #000;
    position: relative;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 58px;
    z-index: 10;
}

.warranty__title::before,
.stages__title::before,
.about__title::before,
.services__title::before,
.portfolio__title::before {
    position: absolute;
    content: '';
    border-bottom: solid #B3DBFF 13px;
    width: 140px;
    top: 32px;
    z-index: -5;
}

.about__description {
    width: 829px;
    font-size: 16px;
    line-height: 20px;
}

.about__content {
    margin-top: 20px;
}

.about__inner-bottom {
    display: flex;
    justify-content: center;
    background-image: url(../img/about-bg.jpg);
    margin-top: 125px;
}

.inner-bottom__description {
    width: 829px;
    font-size: 18px;
    line-height: 30px;
    padding: 71px 0;
    margin-left: 20px;
}

.services__title {
    position: relative;
}

.services__title::before {
    position: absolute;
    content: '';
    border-bottom: solid #B3DBFF 13px;
    width: 149px;
    top: 32px;
    z-index: -5;
}

.services__top {
    font-family: 'Play', sans-serif;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.services__top-title {
    margin-top: 147px;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}

.services__left-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 560px;
    height: 323px;
}

.services__inner {
    width: 560px;
    height: 323px;
}

.services__btn {
    margin-top: 45px;
}

.services__top-content {
    font-size: 20px;
    line-height: 30px;
}

.services__top-img {
    margin-top: 38px;
}

.services__bottom {
    display: flex;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    justify-content: space-between;
    font-family: 'Play', sans-serif;
    margin-top: 100px;
}

.services-all__inner {
    font-family: 'Play', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 145px;
}

.right-arrow {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.right-arrow::before,
.right-arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}

.portfolio {
    color: #000;
    padding: 191px 0 142px;
}

.right-arrow::before {
    margin-left: 16px;
    top: 14px;
    left: 0;
    width: 43px;
    height: 1px;
    background-color: #000;
}

.right-arrow::after {
    right: -40px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    top: 10px;
}

.services-all {
    position: relative;
}

.portfolio__title {
    position: relative;
}

.portfolio__title::before {
    width: 260px;
}

.portfolio__top {
    display: flex;
    margin-top: 79px;
}

.portfolio__top-right {
    margin-left: 93px;
}

.portfolio__bottom {
    display: flex;
    margin-top: 150px;
}

.portfolio__right-title,
.portfolio__left-title {
    font-family: 'Play', sans-serif;
    width: 460px;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.portfolio__bottom-right {
    margin-left: 40px;
}

.more-work__inner-btn {
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

.stages__title {
    position: relative;
}

.stages__title::before {
    width: 167px;
}

.boxes-inner {
    display: flex;
    margin-top: 76px;
}

.box-blue {
    padding: 262px 52px 269px 137px;
    background-color: #1B6EB8;

}

.box-blue__title {
    font-size: 64px;
    line-height: 80px;
    font-family: 'Play', sans-serif;
}

.box-blue__description {
    font-size: 20px;
    line-height: 31px;
    margin-top: 48px;
}

.box-bg {
    width: 1431px;
    height: 600px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/tokar.jpg);
    margin-top: 157px;
}

.box-bg__inner {
    width: 720px;
    margin-left: 50px;
    font-size: 15px;
    line-height: 28px;
}

.box-bg__items {
    display: flex;
    margin-top: 170px;
}

.box-bg__items2 {
    display: flex;
    margin-top: 68px;
}

.box-bg__item {
    width: 344px;
    position: relative;
}

.box-bg__item::before {
    position: absolute;
    content: '';
    border-bottom: 1px solid #0075FF;
    width: 113px;
    top: 59px;
    left: -72px;
    transform: rotate(90deg);

}

.item-number {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    line-height: 31px;
}

.warranty {
    padding-top: 125px;
}

.warranty__title::before {
    width: 111px;
}

.warranty__bg {
    background: linear-gradient(0deg, rgb(255 255 255 / 70%), rgb(229 229 229 / 70%)), url(../img/metalloconstr.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 797px;
    margin-top: 68px;
    color: #000;
}

.warranty__inner {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.warranty__inner-left {
    margin-top: 68px;
    margin-left: 67px;
}

.warranty__inner-title {
    font-family: 'Play', sans-serif;
    text-align: center;
    padding-top: 73px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.warranty__content {
    position: relative;
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    width: 477px;
}

.warranty__content::before {
    position: absolute;
    content: '';
    left: -70px;
    top: 12px;
    background-image: url(../img/daw.svg);
    width: 44px;
    height: 44px;
}

.warranty__content1::before {
    top: 18px;
}

.warranty__content2::before {
    top: 30px;
}

.warranty__form {
    font-family: 'Play', sans-serif;
    padding: 21px 46px 39px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    justify-items: center;
}

.warranty__caption {
    font-size: 24px;
    text-align: center;
    width: 365px;
    font-size: 18px;
    line-height: 21px;
}

.warranty__form select,
.warranty__form input,
.warranty__form textarea {
    width: 350px;
    height: 69px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}

.form-padding {
    padding-left: 18px;
    margin-top: 31px;
}

.form__btn {
    margin-top: 27px;
}

.form__approval {
    font-family: 'Play', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-top: 19px;
    width: 349px;
}